<div id="matricula-wrapper" class="wrapper wrapper-content animated fadeInRight">
    <div class="row border-bottom white-bg dashboard-header">   
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <app-matricula-deficit></app-matricula-deficit>
            </div>
        </div>    
    </div>
    <div class="notes text-muted">
        Fuente: datos públicos de matrícula por estudiante, publicados por el <a  href="http://centroestudios.mineduc.cl/index.php?t=96&i=2&cc=2519&tm=2" role="button">Centro de Estudios del Ministerio de Educación de la República de Chile</a>.
        <br><br>Notas metodológicas:
        <ul>
        <li>Sólo se consideran datos en los que el mismo estudiante aparece registrado en 8º Básico en 2015 y en I Medio en 2016 (no se incluyen repitentes ni estudiantes no registrados en alguno de los dos años).</li>
        <li>No se incluyen datos sobre Educación de Adultos<./li>
        <li>Cuándo se hace referencia a educación particular, se refiere a escuelas y liceos cuya dependencia no es municipal: particular subvencionada, particular pagada y administración delegada. </li>
        </ul>
        <br>Notas tecnológicas:
        <ul>
        <li>Sobre 32 Millones de registros - anonimizados - con matricula de los estudiantes chilenos entre 2008 y 2016 fueron almacenados y procesados en Data Cloud Services de TIDE SA</li>
        <li>El procesamiento de los datos se realizó utilizando funcionalidad para agregación de datos en MongoDB</li>
        <li>El FrontEnd fue desarrollado en Angular 4.0</li>
        </ul>
        <br><br>


   </div>
                
</div>
