<!-- Inmigracion de otras dependencias -->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="(comuna.outfluxIntracomunal) < 0">
  <div class="widget style1 blue-bg">
    <div class="row vertical-align">
        <div class="col-xs-2">
            <i class="fa fa-sign-in fa-3x"></i>
        </div>
        <div class="col-xs-10 text-right">
            <h2 class="font-bold">{{-comuna.outfluxIntracomunal}}</h2>
        </div>             
    </div>
    <div class="row vertical-align">
        <div class="col-xs-11 text-left">
            Llegan a educación municipal, provenientes de escuelas particulares de la misma comuna
        </div>             
    </div>
  </div>        
</div>

<!-- Emigracion a otras dependencias -->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="(comuna.outfluxIntracomunal)>0">
  <div class="widget style1 red-bg">
    <div class="row vertical-align">
        <div class="col-xs-2">
            <i class="fa fa-sign-out fa-3x"></i>
        </div>
        <div class="col-xs-10 text-right">
            <h2 class="font-bold">{{comuna.outfluxIntracomunal}}</h2>
        </div>             
    </div>
    <div class="row vertical-align">
        <div class="col-xs-11 text-left">
            Dejan la educación municipal por liceos particulares de la misma comuna
        </div>             
    </div>
  </div>        
</div>