<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="comuna.outfluxIntercomunal < 0">
  <div class="widget style1 blue-bg">
    <div class="row vertical-align">
        <div class="col-xs-3 col-sm-2">
            <i class="fa fa-sign-in fa-3x"></i>
        </div>
        <div class="col-xs-9 col-sm-10 text-right">
            <h2 class="font-bold">{{-comuna.outfluxIntercomunal}}</h2>
        </div>             
    </div>    
    <div class="row vertical-align">
        <div class="col-xs-11 text-left">
            Llegan a educación municipal provenientes de otras comunas
        </div>             
    </div>
  </div>        
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="comuna.outfluxIntercomunal > 0">
  <div class="widget style1 red-bg">
    <div class="row vertical-align">
        <div class="col-xs-3 col-sm-2">
            <i class="fa fa-sign-out fa-3x"></i>
        </div>
        <div class="col-xs-9 col-sm-10 text-right">
            <h2 class="font-bold">{{comuna.outfluxIntercomunal}}</h2>
        </div>             
    </div>
    <div class="row vertical-align">
        <div class="col-xs-11 text-left">
            Dejan la educación municipal por liceos de otras comunas
        </div>             
    </div>
  </div>        
</div>